<div *ngIf="article">
  <h3 style="text-align: center" [innerHTML]="article.title"></h3>
  <p style="text-align: center; color: dimgrey;" [innerHTML]="article.summary"></p>
  <div style="text-align: center; color: darkgrey;" [innerHTML]="article.author"></div>
  <div style="text-align: center; color: darkgrey;" [innerHTML]="article.source"></div>
  <img [src]="article.imageUrl" style="width: 100%; margin-top: 10px;" />
  <p *ngFor="let p of article.content" [innerHTML]="p" style="padding: 0 10px"></p>
</div>
