.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0 10px !important;
}

.mat-icon-button {
  margin-right: 10px;
}

.main-content{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-drawer-container {
  background-color: white;
}
