<div class="main-content">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sideMenu.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>News App</span>
  </mat-toolbar>

  <mat-sidenav-container style="flex: 1">

    <mat-sidenav #sideMenu [mode]="'over'">
      <mat-list style="margin-top: 20px;">
        <div
          style="padding: 15px 60px; border-bottom: solid 1px darkgrey"
          [routerLink]="'/'"
          (click)="sideMenu.toggle()"
          mat-list-item
        >
          Home
        </div>
        <div
             *ngFor="let section of sections"
             mat-list-item
             [routerLink]="'/section/' + section.id"
             [innerHTML]="section.name"
             (click)="sideMenu.toggle()"
             style="text-transform: capitalize; border-bottom: 1px solid lightgrey; padding: 15px 60px;"
        >
        </div>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content style="padding: 5px">
      <ng-content></ng-content>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
