<div [routerLink]="'/article/' + news.id"
     style="width: 100%;">
  <mat-card style="margin: 0 0 5px 0">
    <img mat-card-image [src]="news.imageUrl"/>
    <mat-card-content>
      <h4>{{news.title}}</h4>
      <p style="color: dimgray;">{{news.author}} - {{news.source}}</p>
    </mat-card-content>
  </mat-card>
</div>
